html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

 #branding {
  margin-top: 16px;
  margin-left: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  width: 230px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#branding img {
  vertical-align: middle;
  margin-left: 2px;
}

#type-selector {
  margin-top: 36px;
  margin-left: 5px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 230px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  color: #000;
  background-color: #fff;
  padding: 5px 11px 0px 11px;
  max-height:250px;
  overflow-y:auto;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#selecttype-conference17 {
  outline: 2px solid #404040
}

#selecttype-conference18 {
  outline: 2px solid #c077f1
}

#selecttype-society {
  outline: 2px solid #f6bb2e
}

#selecttype-group {
  outline: 2px solid #ee4bf3
}

#selecttype-business {
  outline: 2px solid #1ab61a
}

#selecttype-course {
  outline: 2px solid #017cff
}

#selecttype-other {
  outline: 2px solid #01e2ff
}

#place-search {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#place-search:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: Roboto;
}

.gm-style-iw {
    max-height: 250px !important;
    overflow: auto !important;
}
.infowindow {
  font-family: Roboto;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#infowindow h2 {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
}

.autocomplete-input-container {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.autocomplete-input {
  text-align: center;
}

#my-input-autocomplete {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  font-size: 15px;
  border-radius: 3px;
  border: 0;
  margin-top: 10px;
  width: 290px;
  height: 40px;
  text-overflow: ellipsis;
  padding: 0 1em;
}

#my-input-autocomplete:focus {
  outline: none;
}

.autocomplete-results {
  margin: 0 auto;
  right: 0;
  left: 0;
  position: absolute;
  display: none;
  background-color: white;
  width: 320px;
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  border: 1px solid #d2d2d2;
  border-top: 0;
  box-sizing: border-box;
}

.autocomplete-item {
  padding: 5px 5px 5px 35px;
  height: 26px;
  line-height: 26px;
  border-top: 1px solid #d9d9d9;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.autocomplete-icon {
  display: block;
  position: absolute;
  top: 7px;
  bottom: 0;
  left: 8px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.autocomplete-icon.icon-localities {
  background-image: url(https://images.woosmap.com/icons/locality.svg);
}

.autocomplete-item:hover .autocomplete-icon.icon-localities {
  background-image: url(https://images.woosmap.com/icons/locality-selected.svg);
}

.autocomplete-item:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.autocomplete-results::after {
    content: "";
    padding: 1px 1px 1px 0;
    height: 18px;
    box-sizing: border-box;
    text-align: right;
    display: block;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 120px 14px
}

.controls {
  margin-top: 12px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
}

#legend h3 {
  margin-top: 0;
}

#legend img {
  vertical-align: middle;
}

